body {
    font: 200 1em 'Helvetica Neue', 'Segoe UI', 'Droid Sans', 'Helvetica';
    padding: 3em;
    margin: 0;
}

input, select, textarea {
    font: 200 1em 'Helvetica Neue', 'Segoe UI', 'Droid Sans', 'Helvetica';
    outline: none;
    border: 1px solid #eee;
    padding: 0.35em 0.5em;
    background-color: transparent;
}



li.test_name {
    display: inline-block;
    padding: 0.5em 0.75em;
    background-color: #CCB49D;
    color: #38312b;
    text-shadow: 1px 1px 1px #fff5f4;
    margin: 0.25em;
    border-radius: 0.15em;
    cursor: pointer;
}

[id='message'] {
    display: none;
}
.show {
    display: block;
}